.app {
  margin: 0 auto;
  width: 1140px;
  height: auto;
  background-color: #ffffff;
  box-shadow:
    5px 0px 85px 0 rgb(223, 221, 221),
    -5px 0px 85px 0 rgb(182, 181, 181);
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
  border: 0.1px solid rgb(253, 253, 253);
  padding: 20px 0px;
}
